body {
    margin: 0;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
}

.backgorund-container {
    height: 100vh;
    background-image: url("./img/DALL·E\ 2025-02-10\ 20.22.32\ -\ A\ scenic\ desert\ landscape\ illustration\ with\ vast\ golden\ sand\ dunes\,\ scattered\ dry\ bushes\,\ and\ a\ deep\ blue\ twilight\ sky.\ A\ crescent\ moon\ and\ .webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 64px;
    color: #D3833A;
    margin-block-start: 0;
    margin-block-end: 0;
    letter-spacing: 5px;
}

h2 {
    letter-spacing: 2px;
}

h2:hover {
    color: #D3833A;
    cursor: pointer;
}

.start-screen {
    background-image: url('img/9_intro_outro_screens/start/startscreen_3.png');
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-screen {
    height: 480px;
    width: 720px;
}

canvas {
    display: block;
}

.start-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 20px;
}

.fullscreen-img {
    height: 50px;
    width: 50px;
}

.fullscreen-img:hover {
    cursor: pointer;
}

.volume-img {
    height: 50px;
    width: 50px;
}

.volume-img:hover {
    cursor: pointer;
}

.fullscreen-volume-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
}

.start-btn {
    margin: 0;
    color: white;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    font-size: 32px;
    letter-spacing: 2px;
    background-color: #D3833A;
    border: none;
    height: 50px;
    width: 90px;
    border-radius: 10px;
    cursor: pointer;
}

.start-btn:hover {
    background-color: #FFDD02;
}

.controls {
    padding-left: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 20px;
}

p {
    font-size: 32px;
    margin: 0;
}

.arrow-img {
    height: 30px;
    width: 30px;
    margin: 0;
}

.space-img {
    height: 40px;
    width: 50px;
}

.gameover {
    background-image: url('img/9_intro_outro_screens/game_over/lose.png');
    height: 100%;
    width: 100%;
    display: flex;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: flex-end;
}

.win-screen {
    background-image: url('img/9_intro_outro_screens/game_over/gameover.png');
    height: 100%;
    width: 100%;
    display: flex;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: flex-end;
}

.restart-btn {
    margin: 0;
    color: white;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    font-size: 32px;
    letter-spacing: 2px;
    background-color: #D3833A;
    border: none;
    height: 70px;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
}

.btn-container {
    display: flex;
    padding-bottom: 60px;
    gap: 50px;
}

.rotate-phone {
    display: none;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.rotate-img {
    width: 100%;
    object-fit: cover;
}

.controls-mobile {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    width: 480px;
    position: absolute;
    top: 88%;
}

.move-buttons {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.jump-throw-buttons {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.control-btns {
    background: none;
    background-color: #D3833A;
    border-radius: 10px;
}

.back-btn {
    margin: 0;
    color: white;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    font-size: 32px;
    letter-spacing: 2px;
    background-color: #D3833A;
    border: none;
    height: 70px;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
}

.impressum {
    position: absolute;
    background-color: #d3843a;
    height: 400px;
    width: 600px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    border-radius: 10px;
}

.impressum h1 {
    color: black;
}

.impressum-btn {
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    font-size: 32px;
    border: none;
    background: none;
}

.impressum-btn:hover {
    cursor: pointer;
    color: white;
}

.arrow-back {
    height: 40px;
    width: 40px;
    position: absolute;
    right: 50px;
    top: 10px;
}

.arrow-back:hover {
    cursor: pointer;
}

.in-game-controls {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    width: 110px;
    align-items: center;
    position: relative;
    right: -580px;
    top: 110px;
}

@font-face {
    font-family: 'zabras';
    src: url('./fonts/Zabars.ttf');
}

@media (max-width: 720px) {
    .start-screen {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .start-button-container {
        padding: 0;
        flex-direction: column;
    }

    .controls {
        padding: 0;
    }

    .controls-mobile {
        width: 100%;
    }
}

@media(max-height: 480px) {
    .impressum {
        height: 350px;
    }
}

@media (orientation: landscape) and (max-width: 1290px) and (max-height: 1200px) {
    .controls-mobile {
        display: flex;
    }

    .controls {
        display: none;
    }
}

@media (orientation: portrait) and (max-width: 1200px) {
    .controls-mobile {
        display: none;
    }

    .rotate-phone {
        display: flex;
    }

    .controls {
        display: flex;
    }
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }

    .start-screen {
        width: 100vw;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    .start-screen {
        height: 100vh;
    }

    h1 {
        display: none;
    }

    .impressum h1 {
        display: flex;
    }
}